BASE_URL=https://atlas-pruebas.odoo.com/web/login?redirect=%2Fodoo%3F
CONTACTS_URL=https://atlas-pruebas.odoo.com/odoo/contacts
PRODUCTS_URL=https://atlas-pruebas.odoo.com/odoo/action-1194
COMMISSION_PRODUCTS_URL=https://atlas-pruebas.odoo.com/odoo/action-1194
ACTION_CONCEPTOS_COMISION=https://atlas-pruebas.odoo.com/odoo/action-1194
ACTION_TIPOLOGIAS_PRODUCTO=https://atlas-pruebas.odoo.com/odoo/action-1194
ACTION_NATURALEZA_T4=https://atlas-pruebas.odoo.com/odoo/action-1194
ACTION_GRUPOS_PRODUCTO=https://atlas-pruebas.odoo.com/odoo/action-1194
ADMIN_USER=
ADMIN_PASSWORD=
INTERNAL_USER=
INTERNAL_PASSWORD=
PRODUCT_USER=
PRODUCT_PASSWORD=
QA_USER=
QA_PASSWORD=
HEADLESS=true
