BASE_URL=https://atlas-pruebas.odoo.com/web/login?redirect=%2Fodoo%3F
CONTACTS_URL=https://atlas-pruebas.odoo.com/odoo/contacts
ADMIN_USER=
ADMIN_PASSWORD=
INTERNAL_USER=
INTERNAL_PASSWORD=
QA_USER=
QA_PASSWORD=
HEADLESS=true
